.row, .mainSec .buttons, .mainSec .features {
  flex-wrap: wrap;
}

.aboutSec .row {
  flex-wrap: wrap-reverse;
}

a, .row {
  display: flex;
}

.mainSec .buttons, .mainSec .features {
  display: flex;
  justify-content: center;
}

.mainSec .features p {
  display: flex;
  align-items: center;
}

.loader, .mainSec .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSec .col-12 {
  flex-direction: column;
}

.mainSec h1, .mainSec p {
  text-align: center;
}

img, .loader {
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
}

@font-face {
  font-family: poppinsR;
  src: url(../fonts/Poppins-Regular.woff2);
}
@font-face {
  font-family: poppinsB;
  src: url(../fonts/Poppins-Bold.woff2);
}
@font-face {
  font-family: ibmpM;
  src: url(../fonts/IBMPlexSans-Medium.woff2);
}
@font-face {
  font-family: ibmpB;
  src: url(../fonts/IBMPlexSans-Bold.woff2);
}
@font-face {
  font-family: interR;
  src: url(../fonts/Inter-Regular.woff2);
}
body, h1, h2, h3, h4, h5, h6, p, a {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #000;
}

h1, h2 {
  font-family: poppinsB;
}

h3 {
  font-family: ibmpB;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container-fluid {
  max-width: 100%;
  padding: 0px 15px 0px 15px;
}

.container {
  max-width: 1200px;
  margin: auto auto auto auto;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

@keyframes zoomInOut {
  0% {
    width: 40px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 40px;
  }
}
.loader {
  background-color: #fff;
}

.loader .logo {
  animation: zoomInOut 1s infinite;
}

header {
  padding: 24px 0px 24px 0px;
}

.logo {
  max-width: 140px;
}

.mainSec {
  margin: 14px 0px 140px 0px;
}

.mainSec h1 {
  font-size: 48px;
  line-height: 101%;
  letter-spacing: -0.48px;
  margin: 0px 0px 0px 0px;
  max-width: 663px;
}

.mainSec p {
  font-size: 16px;
  line-height: 146%;
  letter-spacing: auto;
  margin: 15px 0px 15px 0px;
  font-family: poppinsR;
}

.mainSec a {
  font-size: 16px;
  line-height: 118%;
  letter-spacing: auto;
  padding: 14px 34px 14px 34px;
  border-radius: 23.5px;
  font-family: ibmpM;
}

.mainSec .buttons {
  -moz-column-gap: 11px;
       column-gap: 11px;
  row-gap: 20px;
}

.mainSec a:first-child {
  background-color: #FFD700;
}

.mainSec a:first-child:hover {
  color: #fff;
  background-color: #040047;
}

.mainSec a:last-child {
  border: 1px solid #040047;
}

.mainSec a:last-child:hover {
  color: #fff;
  background-color: #040047;
}

.mainSec .features {
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 30px;
  margin: 40px 0px 0px 0px;
}

.mainSec .features p {
  font-size: 11px !important;
  line-height: 118%;
  letter-spacing: auto;
  margin: 0px 0px 0px 0px;
  font-family: ibmpM;
  color: #040047;
}

.mainSec .features p:before {
  content: url(../img/tick.svg);
  margin: 0px 11px 0px 0px;
}

.aboutSec {
  margin: 60px 0px 0px 0px;
}

.aboutSec p {
  font-family: interR;
}

.aboutSec .imgBox {
  max-width: 521px;
  margin: 0px 30px 0px 0px;
}

.aboutSec h3 {
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.2px;
  background-color: #FFD700;
  padding: 0px 15px 1px 15px;
  border-radius: 13.5px;
  width: -moz-fit-content;
  width: fit-content;
}

.aboutSec h2 {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.32px;
  margin: 17px 0px 10px 0px;
  max-width: 320px;
}

.aboutSec p {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2px;
  max-width: 420px;
}/*# sourceMappingURL=style.css.map */